<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.XMLBoardMapper">

    <select id="findById" parameterType="int" resultType="boardDTO">
        SELECT POST_ID, TITLE, CONTENTS, WRITER, PASSWORD, CREATION_DATE, DATE_OF_VERSION
          FROM devday.BOARD
         WHERE POST_ID = #{postId}
    </select>

</mapper>